figure#about_photo {
  float:right;
  margin-right: 10%;
  margin-top: 0;
  text-align: center;
}

.sub_title {
  font-family: "Georgia";
  font-size: 150%;
}

p.about_me_content {
  font-family: "Verdana";
  margin-right: 15px;
  font-size: 90%;
}
